@font-face
{
font-family: Harabara;
src: url('../fonts/Harabara.ttf')
    ,url('../fonts/Harabara.eot'); /* IE9 */
}

.logo {
  display: block;
  position: relative;
  width: 270px;
}
.logo img {
  position: absolute;
}

.logo h1 {
  font-family: Harabara, Lato, "Helvetica Neue", Helvetica;
  font-size: 48px;
  color: #5083a6;
  position: relative;
  margin: 10px 0 0 10px;
  padding: 0;
  display: block;
  font-weight:400;
}

.logo h1 em {
  font-family: Lato, "Helvetica Neue", Helvetica;
  font-size: 18px;
  color: #555;
  font-weight:400;
}

.logo small {
  font-family: Garamond, Georgia, serif;
  display: block;
  font-size: 16px;
  margin: 10px 0 0 20px;
  color: #555;
  position: relative;
  padding: 0;
}

.menu {
  position:relative;
  width: 280px
}

body {
  background: #f8fbff;
}
a, p, small {
  font-family: Lato;
  font-weight: 400;
}
pre, code, .markment pre, .markment code {
  font-family: Monaco, monospace;
  font-weight:normal;
  font-size: 12px;
}
.markment a:hover {
  color: #5083a6;
  text-decoration:none;
}
.markment a {
  color: #5083a6;
}

a:hover {
  color: #5083a6;
  text-decoration:none;
}
a {
  color: #5083a6;
}

footer {
  background: white;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 11px;
}

h2, h3, h4, h5, h6 {
  margin-top: 22px;
  margin-bottom: 10px;
}

a code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  border: 0;
  background: transparent;
  background-color: transparent;
  font-family: Lato, "Helvetica Neue", Helvetica;
  font-weight:400;
}

a code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  border: 0;
  background: transparent;
  background-color: transparent;
}

.menu a code, .menu h1 code, .menu h2 code, .menu h3 code, .menu h4 code, .menu h5 code, .menu h6 code {
  font-family: Lato, "Helvetica Neue", Helvetica;
  font-weight:400;
  color:#A66E25;
}

a code {font-size: 17.5px;}
h1 code {font-size: 38.5px;}
h2 code {font-size: 31.5px;}
h3 code {font-size: 24.5px;}
h4 code {font-size: 17.5px;}
h5 code {font-size: 13.5px;}
h6 code {font-size: 11.9px;}
.documentation, .documentation p, .documentation code {
  font-size: 18px;
}

.documentation p code {
  padding: 3px 9px;
  margin: 3px;
  display: inline-block;
  color: #4D846B;
}

.documentation h6 code {
  border: 0;
  text-align:left;
  padding: 0 0 3px 0;
  margin: 0;
  border-bottom: 3px solid #5083a6;
}

.documentation p, .documentation li {
  margin-top: 20px;
}