bpython==0.11
cssselect==0.8
distribute==0.6.31
Flask==0.10.2
ipython==0.13
Jinja2==2.6
lxml==3.1.2
Markdown==2.3.1
misaka==1.0.2
PIL==1.1.7
py==1.4.13
Pygments==1.6
PyYAML==3.10
requests==1.2.2
speakers==0.0.3
virtualenv==1.9.1
Werkzeug==0.8.3
curdling
