<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project.name }} by {{ project.github_maintainer }}</title>
    <meta name="description" content="{{ project.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

    <!-- Loading Bootstrap -->
    <link href="{{ static_file('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_file('css/markment.css') }}" rel="stylesheet">

    <link href="{{ static_file('css/github.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ static_file('images/favicon.ico') }}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1277640-19', 'falcao.it');
  ga('send', 'pageview');

</script>
{% macro render_menu_item(header) -%}
    <li>
      <a class="btn-large"
         href="{{ header.anchor }}">
       {{ header.text|safe }}
      </a>
    </li>

  {% if 'child' in header and header.level < 2 %}
    {% for child in header['child'] %}
      {{ render_menu_item(child) }}
    {% endfor %}
  {% endif %}
{%- endmacro %}
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="logo">
            <img src="{{ link(project.logo_path) }}" style="{{ project.logo_inline_css }}" alt="{{ project.name }}" />
            <h1>{{ project.name }}
              <em>v{{ project.version }}</em>
            </h1>
            <small>{{ project.description }}</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <ul class="nav nav-list menu">
            <li class="bold"><h3><a href="#init">Sections</a></h3></li>
              {% for item in index %}
                {{ render_menu_item(item) }}
              {% endfor %}
            <li class="bold"><h3><a href="#init">Table of contents</a></h3></li>
              {% for item in master_index %}
            <li class="bold">
              <h4>
                <a href="{{ link(item.relative_path) }}{{ item.indexes[0].anchor }}">
                        {{ item.indexes[0].text }}
                </a>
              </h4>
            </li>
              {% endfor %}
          </ul>

        </div><!-- .span4 -->
        <div class="span8">
          <a href="#init" id="init" name="init"></a>
          <div class="documentation">{{ documentation|safe }}</div>
        </div>
      </div>
    </div> <!-- /container -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3 class="footer-title">{{ project.name }}</h3>
            <p>{{ project.name }} is maintained by <a href="http://github.com/{{ project.github_maintainer }}">{{ project.github_maintainer }}</a>. <br />
              This documentation was generated automatically by <a href="http://octomarks.io/gabrielfalcao/markment">Markment</a>.
            </p>
          </div> <!-- /span8 -->
        </div>
      </div>
    </footer>
  </body>
</html>
