<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project.name }} by {{ project.github_maintainer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ static_file('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_file('css/zenburn.css') }}" rel="stylesheet">
    <link href="{{ static_file('css/theme.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ static_file('js/prefixfree.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ static_file('img/favicon.ico') }}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
{% macro render_menu_item(index, header, page_id, child=False) -%}
    <li id="toc-item-{{ header.anchor.strip("#") }}" class="{% if child %} sub {% endif %}">
      <a class="toc-link" href="{{ header.anchor }}" data-page-id="{{ page_id }}">
         <span class="index">{{ index }} </span>
         {{ header.text|safe }}
      </a>
    </li>
  {% if 'child' in header and index.count('.') < 2 %}
    {% for child in header['child'] %}
      {{ render_menu_item("{0}.{1}".format(index, loop.index), child, page_id, True) }}
    {% endfor %}
  {% endif %}
{%- endmacro %}

  <body class="planta">
    <div class="container planta">
      <div class="row">
        <div class="span12 header">
          <div class="span10 offset1"><!-- .span10.offset1 -->
            <div class="row logo-row"><!-- .row.logo-row -->
              <div class="span12 logo-container"><!-- .span5.logo-container -->
                <span class="logo">{{ project.name }}</span><!-- .logo -->
                <span class="version">v{{ project.version }}</span><!-- .version -->
                <span class="divider"></span><!-- .divider -->
              </div>
            </div>
            <div class="row slogan-row"><!-- .row.slogan-row -->
              <div class="span4 slogan-container"><!-- .span4.slogan-container -->
                <span class="slogan"><!-- .slogan -->
                  {{ project.description|safe }}
                </span>
              </div>
            </div>
            <div class="row toc-row"><!-- .row.toc-row -->
              <div class="span4 toc-span"><!-- .span4.toc-span -->
                <div class="toc-heading"><!-- .toc-heading -->
                  <h4>TABLE OF CONTENTS</h4>
                </div><!-- .toc-heading -->
              </div><!-- .span4.toc-span -->
              <hr />
              <div class="span7 documentation-span">
                <div class="documentation-heading">
                  <span class="index">1.0</span>
                  <h1>Introduction</h1>
                </div>
                {{ documentation|safe }}
                <div class="row footer">
                  <div class="left">
                Project maintained by <a href="{{ project.github_maintainer_url }}">{{ project.github_maintainer_name|safe }}</a>
                  </div>
                  <div class="right">
                Theme by <a href="http://twitter.com/gabrielfalcao">Gabriel Falcão</a> with help from <a href="http://www.lauragroetzinger.com/">Laura Groetzinger</a> and <a href="http://rafaelmarin.net/">Rafael Marin</a>
                  </div>
                </div><!-- .documentation-span.span7 -->
                <div class="span4">
                  <ul class="toc">
                    {% if not project.full_index %}
                      {% for item in index %}
                        {{ render_menu_item("{0}".format(loop.index), item, info.relative_path.replace('/', '-')) }}
                      {% endfor %}
                    {% else %}
                      {% for page in master_index %}
                        {% set page_id =  page.relative_path.replace('/', '-')  %}
                        <div id="{{ page_id }}" style="display:none">{{ page.documentation|safe }}</div>
                        {% set parent_loop = loop %}
                        {% for item in page.indexes %}
                          {{ render_menu_item("{0}.{1}".format(parent_loop.index, loop.index), item, page_id) }}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- .header.span12 -->
        </div><!-- .row -->
      </div><!-- .container -->
      <div id="forkme">
        <a href="{{ project.github_url }}">&hearts; Github</a>
      </div>
      <script type="text/javascript" src="{{ static_file('js/jquery.js') }}"></script>
      <script type="text/javascript" src="{{ static_file('js/theme.js') }}"></script>
  </body>
</html>
